/* You can add global styles to this file, and also import other style files */
/* body {
  background-image: url('../src/assets/BackgroundModa.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
} */

/* ul.navbar-nav>li.nav-item.active>a:hover{
    color: rgb(240 98 146) !important;
}

ul.navbar-nav>li.nav-item.active>a:focus{
    color: rgb(240 98 146) !important;
} */

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}